<html xmlns:th="http://www.thymeleaf.org" th:fragment="includejs">
	<script>
    $(function () {
    	CKEDITOR.replace('qDescription')
    	$('.textarea').wysihtml5()
    })
	</script>
	<script src="../assets/js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="../assets/js/lib/menubar/sidebar.js"></script>
	<!--  <script src="../assets/js/lib/preloader/pace.min.js"></script> -->
	<!-- sidebar -->
	
	<script src="../assets/js/scripts.js"></script>
	<!--Bootstrap Datepicker-->
	<script src="../assets/js/bootstrap-datepicker.js"></script>
	<!-- DataTables -->
	<script src="../datatables/jquery.dataTables.min.js"></script>
	<script src="../datatables/dataTables.bootstrap4.min.js"></script>

</html>