
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
 <script>
//Deleting the property master detail



const ipAPI = 'https://api.ipify.org?format=json'
	function deleteUserType(id){
	 //var data = id.split(",");
			swal.fire({
			title	: "Are you sure want to Delete?",
			text	: "Once Deleted,Can't revert back !",
			type : "warning",
	
			showCancelButton	: true,
			confirmButtonColor	: "#DD6BB5",
			confirmButtonText	:"Delete",
			showLoaderOnConfirm	: true,
			reverseButtons : true,
			/* confirmButtonAriaLabel : 'Thumbs up, great!',
			cancelButtonText : '<i class="fa fa-thumbs-down">&nbsp;Cancel</i>',
			cancelButtonAriaLabel : 'Thumbs down', */
	
			preConfirm: () => {
				return fetch(ipAPI)
				.then(response => response.json())
				.then(data => Swal.insertQueueStep(data.ip))
				.catch(() => {
				Swal.insertQueueStep({
					type: 'error',
					title: 'Unable to get your public IP'
			, })
			})
		  } 
		}).then((result) => {
		if(result.value){
			$.ajax({
				type	: "GET",
				url : "/user/view-user-type-delete?id="+id,
				dataType	: "json",
				contentType	: "application/json",
				data	: JSON.stringify(id),
				success	: function(response){
					console.log(response);
					if(response.message=="success"){
						
						swal({
							title	: "Data Deleted Successfully.",
							type: "success",
					}).then(function(){
						location.reload(); 
					})
					}else{
						swal({
							title:response.code,
							text: response.message,
							type:"warning"
						})
					}
			},error	: function(response){
				swal(response.code);	
			}
		}) //ajax ends
	  }
	 })//swal function block ends
	}
	</script>
<script type="text/javascript">

	$(document).ready(function() {			
		$('#usertyptbl').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-user-type-throughajax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
				}
			},
			'dataSrc' : "",
		'columns' : [
			{'data' : 'userTypeName'},
			{'data' : 'userTypeDescrptn'},
			{'data' : 'userStatus'},
			{'data' : 'action'}
	
				]	
		});
	  });

function searchData() {
	$('#usertyptbl').DataTable().draw();
}
function viewInModelData(index){
	$('#table1').empty();
	$.ajax({			type : "POST",
				url : "view-user-type-modeldata",
				dataType : 'json',
				contentType : 'application/json',
				data : index,
				success : function(response) {
					if (response.message == "success") {
						console.log(response.body.userTypeActive);
						var userTypeActive = "";
						if (response.body.userTypeActive) {
							userTypeActive = "Active";
						} else {
							userTypeActive = "InActive";
						}
						
		table = '<tr><td>User Type name :</td>' + '<td align="left">'
								+ response.body.userTypeName + '</td>'
								+ '</tr><tr><td>User type Description:</td><td align="left">'
								+ response.body.userTypeDescrptn
								+ '</td></tr><tr><td>Status :</td>'
								+ '<td align="left">' + userTypeActive
								+ '</td></tr>';
						$('#myModal').modal('show');
						$('#table1').append(table);
					}
				},
				error : function(data) {
					console.log(data);
				}
			})

		}
</script>   
</head>
<div layout:fragment="content">
<div class="content-wrap">
        <div class="main mrt_20">
            <div class="col-md-12">
                 <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="/index-dashboard">Home</a></li>
                    <li><a th:href="@{/user/add-user-type}">Add User Type</a></li>
                    <li class="active"><span>View User Type </span></li>
                </ol> 
            </div>
            <div class="card-title">
                <h4>View User Type </h4>
            </div>
            <div class="container-fluid">
                <div class="card">
                        <div class="search-field">
                   <!--      <div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary"
										href="add-user-type">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div> -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label> User Type</label>
                                
                                     <input id="param1" class="form-control" type="text" placeholder="" name=""> 
                                    
                                </div>
                               <div class="col-md-2 mrt_10">
									<div class="form-group filtersearch">
										<button class="btn btn-info" onclick="searchData()">Search</button>
									</div>
                                
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" style="width:100%;">
                            <table id="usertyptbl" class="table  table-bordered">
                                <thead>
                                    <tr>
                                      <th>UserType name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th align="center">Action</th>
                                    </tr>
                                </thead>
                              
                            </table>
                        </div>
                        <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <!-- Modal Start-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" style="width: 750px;">
                    <div class="modal-header">
                        <h4 class="modal-title">User Type Details </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table width="100%" border="0" id="table1">
                           
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End-->
        
    </div>
</div>
</html>