<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout/master}">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add User without Ajax</h1>
	<p th:if="${message} != null" th:text="${message}"></p>
	
<!--     <form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    	<input type="hidden" th:field="*{userId}" />
        <p>username: <input type="text" th:field="*{username}" /></p>
        <p>password: <input type="text" th:field="*{password}" /></p>
        <p>email   : <input type="text" th:field="*{email}" /></p>
        <p>address : <input type="text" th:field="*{address}" /></p>
        <p>phone   : <input type="text" th:field="*{phone}" /></p>
        <P> Image  : <input type="file" id="fileUpload" onchange="saveFile()" />
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form> -->
</body>

<script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/lib/jquery.nanoscroller.min.js"></script>

<script type="text/javascript">

	function saveFile() {
		
		var uFile = $('#fileUpload')[0].files[0]; 
		
		var fileData = new FormData();
		fileData.append('file',uFile);
		fileData.append('path','none');
		
		$.ajax({
			type        : "POST",
			url         : "uploadFile",
			enctype     : "multipart/form-data",
			contentType : false,
			data        : fileData,
			processData : false,
			cache       : false,
			success     : function(response){
							console.log(response);
						  },
						  
			error       : function(e) {
				
						  }
		});
		
	}

</script>

</html>