<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout/master}">
  <head>
  <script type="text/javascript">
  function validateForm(){
	  if (!blankValidation("actName","TextField", "Activity Name can not be left blank"))
          return false;
	  if (!blankValidation("buttonClass","TextField", "Button classs can not be left blank"))
          return false;
	  if (!blankValidation("description","TextField", "Activity Description can not be left blank"))
          return false;
	  if (!blankValidation("actStatus","TextField", "Approval Status can not be left blank"))
          return false;
	  
	  if (!checkSpecialCharacter("thmName","Special character is not allowed!!!"))
          return false;
	 /*  
	  if (!fieldLengthCheck("thmName", 5, "Category Name","Max"))
          return false;
      if (!fieldLengthCheck("thmName", 3, "Name","Min"))
          return false;
       */
	  
  }
      </script>
  </head>
  <div layout:fragment="content">
	<div class="content-wrap">
        <div class="main mrt_20">
            <div class="col-md-12">
               <!--Alert Box-->
	           <div class="alert alert-danger alert-dismissible" th:if="${message != null}">
	              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	             <span th:text="${message}"></span>
	          </div>
	          <!--Alert Box-->
               <ol class="breadcrumb breadcrumb-arrow">
                   <li><a href="index.html">Home</a></li>
                   <li class="active"><span>Add Approval Action  </span></li>
               </ol>
            </div>
            <div class="card-title">
                <h4>Approval Action </h4>
            </div>
            <div class="container-fluid">
                 
                <div class="card">
                    
                    <div class="card-body">
                        <div class="basic-elements">
                            <form th:action="@{/user/add-aproval-action}" th:object="${aproval}" method="post"  onsubmit="return validateForm();">
                            <input type="hidden" th:field="*{approvalId}" />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Action Name</label>
                                            <input type="text" class="form-control" th:field="*{actName}" placeholder="Enter Action Name">
                                        </div>
                                        <div class="form-group">
											<label>Button Class</label> 
											<input type="text" class="form-control" th:field="*{buttonClass}" placeholder="Enter Button Class">
										</div>
                                        
                                         <div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control" th:field="*{actStatus}">
                                            	<option th:value="null" th:text="Select"></option>
                                                <option th:value="true" th:text="Active"></option>
                                                <option th:value="false" th:text="Inactive"></option>
                                            </select>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <button type="button" class="btn btn-warning"  onClick="window.location.reload();">Cancel</button>
                                    </div>
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                    <div>
                                            <label>Description.</label>
                                            <textarea class="form-control textarea" placeholder="Description" th:field="*{description}"></textarea>
                                        </div>
                                       
                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- nav tab section end -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</html>