<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
	//Deleting the Theme Item
	const ipAPI = 'https://api.ipify.org?format=json'
	function deleteApproval(id){
	 //var data = id.split(",");
			swal.fire({
			title	: "Are you sure want to Delete?",
			text	: "Once Deleted,Can't revert back !",
			type : "warning",
	
			showCancelButton	: true,
			confirmButtonColor	: "#DD6BB5",
			confirmButtonText	:"Delete",
			showLoaderOnConfirm	: true,
			reverseButtons : true,
			/* confirmButtonAriaLabel : 'Thumbs up, great!',
			cancelButtonText : '<i class="fa fa-thumbs-down">&nbsp;Cancel</i>',
			cancelButtonAriaLabel : 'Thumbs down', */
	
			preConfirm: () => {
				return fetch(ipAPI)
				.then(response => response.json())
				.then(data => Swal.insertQueueStep(data.ip))
				.catch(() => {
				Swal.insertQueueStep({
					type: 'error',
					title: 'Unable to get your public IP'
			, })
			})
		  } 
		}).then((result) => {
		if(result.value){
			$.ajax({
				type	: "GET",
				url : "/user/view-aproval-action-deleteApproval?id=" +id,
				dataType	: "json",
				contentType	: "application/json",
				data	: JSON.stringify(id),
				success	: function(response){
					console.log(response);
					if(response.message=="success"){
						
						swal({
							title	: "Data Deleted Successfully.",
							type: "success",
					}).then(function(){
						location.reload(); 
					})
					}else{
						swal({
							title:response.code,
							text: response.message,
							type:"warning"
						})
					}
			},error	: function(response){
				swal(response.code);	
			}
		}) //ajax ends
	  }
	 })//swal function block ends
	}
	

	function viewInModel(index) {
		$('#table1').empty();
		$
				.ajax({
					type : "POST",
					url : "view-aproval-action-modalView",
					dataType : 'json',
					contentType : 'application/json',
					data : index,
					success : function(response) {
						if (response.message == "success") {
							console.log(response.body.actStatus);
							var actStatus = "";
							if (response.body.actStatus) {
								actStatus = "Active";
							} else {
								actStatus = "InActive";
							}
							table = '<tr><td>Activity Name :</td>'
									+ '<td align="left">'
									+ response.body.actName
									+ '</td>'
									+ '</tr><tr><td>Button Class:</td><td align="left">'
									+ response.body.buttonClass
									+ '</tr><tr><td>Approval Description:</td><td align="left">'
									+ response.body.description
									+ '</td></tr><tr><td>Stauts</td><td align="left">'
									+ actStatus + '</td></tr>';
							$('#myModal').modal('show');
							$('#table1').append(table);
						}
					},
					error : function(data) {
						console.log(data);
					}
				})

	}
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#tblAproval').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-aproval-action-ThroughAjax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
					d.param2 = $('#param2').val();
				}
			},
			'dataSrc' : "",
			'columns' : [ {
				'data' : 'actName'
			}, {
				'data' : 'buttonClass'
			},{
				'data' : 'description'
			},{
				'data' : 'status'
			}, {
				'data' : 'action'
			} ]
		});
	});

	function searchData() {
		$('#tblAproval').DataTable().draw();
	}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				 <ol class="breadcrumb breadcrumb-arrow">
					<li><a href="index.html">Home</a></li>
					<li><a th:href="@{/user/add-aproval-action}">Add Approval Activity</a></li>
					<li class="active"><span>View Approval Activity </span></li>
				</ol> 
			</div>
			<div class="card-title">
				<h4>View Approval Activity</h4>
			</div>
			<div class="container-fluid">
				
				<div class="card">
						<div class="search-field">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary"
										href="add-aproval-action">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>
							<div class="row">
								<div class="col-md-2">
									<label>Activity Name</label>
								
									<input id="param1" class="form-control" type="text"
										placeholder="" name="">
								</div>
								<div class="col-md-2">
									<label>Button Class</label>
								
									<input id="param2" class="form-control" type="text"
										placeholder="" name="">
								</div>
								<div class="col-md-2 mrt_10">
									<div class="form-group filtersearch">
										<!-- <button type="search" class="btn btn-info" value="Search" onclick="searchData()" >Search</button> -->
										<input type="button" class="btn btn-info" value="Search"
											onclick="searchData()" />
									</div>
								</div>
							</div>
						</div>
						<div class="table-responsive" style="width: 100%;">
							<table id="tblAproval" class="table table-bordered">
								<thead>
									<tr>
										<th>Activity Name</th>
										<th>Button Class</th>
										<th>Description</th>
										<th>Status</th>
										<th align="center">Action</th>
									</tr>
								</thead>
							</table>
						</div>
						<div style="clear: both;"></div>
				</div>
			</div>
		</div>
		<!-- Modal Start-->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content" style="width: 750px;">
					<div class="modal-header">
						<h4 class="modal-title">View Details of Approval Action</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%; border: 0;" id="table1">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->
	</div>
</div>
</html>