private String date;
private String reqNo;
private String raisedBy;
private String raisedTo;


public String getDate() {
return date;
}

public void setDate(String date) {
this.date = date;
}

public String getReqNo() {
return reqNo;
}

public void setReqNo(String reqNo) {
this.reqNo = reqNo;
}

public String getRaisedBy() {
return raisedBy;
}

public void setRaisedBy(String raisedBy) {
this.raisedBy = raisedBy;
}

public String getRaisedTo() {
return raisedTo;
}

public void setRaisedTo(String raisedTo) {
this.raisedTo = raisedTo;
}