<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script type="text/javascript">
	//validation

	function validateForm() {
		if (!blankValidation("tOrgName", "TextField",
				"Organization Name can not be left blank"))
			return false;
		if (!blankValidation("tOrgFName", "TextField",
				"First Name can not be left blank"))
			return false;
		if (!blankValidation("tOrgMobile", "TextField",
				"Mobile No can not be left blank"))
			return false;
		if (!blankValidation("tOrgEmail", "TextField",
				"Email can not be left blank"))
			return false;
		/* if (!blankValidation("tUserType", "TextField",
				"UserType can not be left blank"))
			return false; */
		if (!blankValidation("tOrgCountry", "TextField",
				"Country can not be left blank"))
			return false;
		if (!blankValidation("tOrgDist", "TextField",
				"District can not be left blank"))
			return false;
		if (!blankValidation("tOrgAddress", "TextField",
				"Address can not be left blank"))
			return false;
		if (!blankValidation("tStatus", "TextField",
				"Status can not be left blank"))
			return false;
		if (!blankValidation("tOrgLName", "TextField",
				"Last Name can not be left blank"))
			return false;
		if (!blankValidation("tOrgPINno", "TextField",
				"Pin can not be left blank"))
			return false;
		if (!blankValidation("tOrgState", "TextField",
				"State can not be left blank"))
			return false;
		if (!blankValidation("tDesc", "TextField",
				"Desc can not be left blank"))
			return false;

	}

	function checkNumber() {
		var qty = $('#tOrgZipCode').val();
		if (qty) {

			checkNum("tOrgZipCode");
		}

	}

	//Dropdown for District Name
	$(document).ready(function() {
		$.ajax({
			type : 'GET',
			url : 'add-organization-auditor-send-mail',
			contentType : false,
			//data : tOrgState,
			success : function(response) {
				if (response.message == "success") {
					swal("Mail sent successfully");

					
				}
			},
			error : function(e) {
				alert("error");
			}
		});
		
		
		
		$("#tOrgState").on('change', function() {
			var tOrgState = $(this).val();
			//console.log(tOrgState);
			if (tOrgState) {

				$.ajax({
					type : 'POST',
					url : 'add-organization-auditor-districtName-ajax',
					contentType : false,
					data : tOrgState,
					success : function(response) {
						if (response.message == "success") {
							$("#tOrgDist").empty();

							var option = $("<option></option>");
							$(option).val(null);
							$(option).html("Select");
							$("#tOrgDist").append(option);
							for (var i = 0; i < response.body.length; i++) {
								var option = $("<option></option>");
								$(option).val(response.body[i].key);
								$(option).html(response.body[i].name);
								$("#tOrgDist").append(option);
							}
						}
					},
					error : function(e) {
						alert("error");
					}
				});
			} else {
				$("#tOrgDist").empty();
				var option = $("<option></option>");
				$(option).val(null);
				$(option).html("Select");
				$("#tOrgDist").append(option);
			}
		});
	});

	//Dropdown for District Name
	$(document).ready(function() {
		$("#tOrgCountry").on('change', function() {
			var tOrgCountry = $(this).val();
			//console.log(tOrgCountry);
			if (tOrgCountry) {
				$("#tOrgDist").empty();
				var option = $("<option></option>");
				$(option).val(null);
				$(option).html("Select");
				$("#tOrgDist").append(option);
				$.ajax({
					type : 'POST',
					url : 'add-organization-auditor-stateName-ajax',
					contentType : false,
					data : tOrgCountry,
					success : function(response) {
						if (response.message == "success") {
							$("#tOrgState").empty();

							var option = $("<option></option>");
							$(option).val(null);
							$(option).html("Select");
							$("#tOrgState").append(option);
							for (var i = 0; i < response.body.length; i++) {
								var option = $("<option></option>");
								$(option).val(response.body[i].key);
								$(option).html(response.body[i].name);
								$("#tOrgState").append(option);
							}
						}
					},
					error : function(e) {
						alert("error");
					}
				});
			} else {
				$("#tOrgState").empty();
				var option = $("<option></option>");
				$(option).val(null);
				$(option).html("Select");
				$("#tOrgState").append(option);
				$("#tOrgDist").empty();
				var option = $("<option></option>");
				$(option).val(null);
				$(option).html("Select");
				$("#tOrgDist").append(option);
			}
		});
	});

	function funcLoad(){
		location.reload();
	} 
	function returnToAddPage(){
		var item = $("#tOrgId").val();
		if((item == null)||(item == "")){
			funcLoad();
		}
		else{
			window.location.href = "/audit/view-organization-auditor" ;
		}
	}
</script>

</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="/index-dashboard">Home</a></li>
					<li class="active"><span>Add Organization Auditor </span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>Add Organization Auditor</h4>
			</div>
			<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<div class="basic-elements">
							<form action="#" th:action="@{add-organization-auditor}"
								th:object="${orgAuditor}" method="post"
								onsubmit="return validateForm();" autocomplete="off">
								<div class="row">
									<span style="color: red;" id="errorMsg"> </span>
									<div th:if="${message != null}">
										<span th:text="${message}" style="color: red;"> </span>
									</div>
								</div>
								<input type="hidden" th:field="*{tOrgId}" />
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Organization Name</label> <select class="form-control"
												th:field="*{tOrgName}">
												<option value="">Select</option>
												<option th:each="c:${orgList}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>First Name</label> <input type="text"
												class="form-control" name="tOrgFName" value=""
												th:field="*{tOrgFName}">
										</div>
										<div class="form-group">
											<label>Last Name</label> <input type="text"
												class="form-control" name="tOrgLName" value=""
												th:field="*{tOrgLName}">
										</div>
										<div class="form-group">
											<label>Contact No.</label> <input type="text"
												class="form-control" name="tOrgMobile" value=""
												th:field="*{tOrgMobile}">
										</div>
										<div class="form-group">
											<label>Email ID</label> <input type="text"
												class="form-control" name="tOrgEmail" value=""
												th:field="*{tOrgEmail}">
										</div>
										<div class="form-group"
											th:style="*{tOrgId} == null ? 'display:block' : 'display:none' ">
											<label>Password</label> <input type="text"
												class="form-control" th:field="*{tPassword}" />
										</div>
										<div class="form-group"
											th:style="*{tOrgPINno} == null ? 'display:block' : 'display:none' ">
											<label>Pin No.</label> <input type="text"
												onkeyup="checkNum('tOrgPINno');" class="form-control"
												name="tGuestPINno" value="" th:field="*{tOrgPINno}">
										</div>
										<div class="form-group" style="display: none;">
											<label>User Type</label> <select class="form-control"
												th:field="*{tUserType}">
												<option value="">Select</option>
												<option th:each="c:${UserType}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Address</label>
											<textarea name="tOrgAddress" cols="" rows=""
												th:field="*{tOrgAddress}" class="form-control textarea"></textarea>
										</div>
										<div class="form-group">
											<label>Country</label> <select class="form-control"
												th:field="*{tOrgCountry}">
												<option value="">Select</option>
												<option th:each="c:${countryList}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>State</label> <select class="form-control"
												th:field="*{tOrgState}">
												<option value="">Select</option>
												<option th:each="c:${stateList}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>District</label> <select class="form-control"
												th:field="*{tOrgDist}">
												<option value="">Select</option>
												<option th:each="c:${districtList}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>Designation</label> <input type="text" class="form-control"
												name="designation" value="" th:field="*{designation}">
										</div>
										<div class="form-group">
											<label>Status</label> <select class="form-control"
												th:field="*{tStatus}">
												<option th:value="true">Active</option>
												<option th:value="false">Inactive</option>
											</select>
										</div>
										<input type="hidden" th:field="*{tIMEI}" />
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="submit" value="Submit" class="btn btn-success" />
											<input type="reset" value="Cancel" class="btn btn-warning"
												onclick="returnToAddPage()" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>



			</div>
		</div>
	</div>
</div>
</html>