<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>

<script type="text/javascript">
$(document).ready(function() {			
	$('#table').DataTable({
		'processing' : true,
		'serverSide' : true,
		'searching' : false,
		'ordering' : false,
		"ajax" : {
			'url' : 'view-outstanding-paras-through-ajax',
			'data' : function(d) {
				d.param1 = $('#param1').val();
			}
		},
		'dataSrc' : "",
		'columns' : [
		
			{'data' : 'id'},
			{'data' : 'year'},
			{'data' : 'irs'},
			
			{'data' : 'paras'},
			{'data' : 'moneyValue'}
		]	
	});
});
function searchData() {
	$('#table').DataTable().draw();
}
</script>
</head>
<body>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="/index-dashboard">Home</a></li>
					<!-- <li><a th:href="@{/audit/add-outstanding-paras}">Add Outstanding paras</a></li> -->
					<!-- <li class="active"><span>Manage Region</span></li> -->
				</ol>
			</div>
			<div class="card-title">
				<h4>Outstanding paras</h4>
			</div>
			<div class="container-fluid">
			
				<div class="card">
					<div id="demo" >
						<div class="search-field">
							<div class="row">
								<div class="col-md-2">
									<div class="org-name">Financial Year</div>
								</div>
								<div class="col-md-3">
									<select class="form-control"
											id="param1">
											<option th:value="null">--Select Year--</option>
											<option th:each="c:${financialYearList}" th:value='${c.key}'
												th:text="${c.name}"></option>
										</select>
								</div>
									<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<button class="btn btn-primary" onclick="searchData()">Search</button>
									</div>
								</div>
							
							</div>
							</div>
							
						</div>
					</div>
					<!-- <a data-toggle="collapse" data-target="#demo"
						class="showhideangelbg"><i class="fa fa-angle-double-down"></i>
					</a> -->
					<div class="row">
						<div class="table-responsive" style="width: 100%;">
							<table id="table" class="table table-bordered">
								<thead>
									<tr>
										<th>SL No</th>
										<th>Year</th>
										<th>IRs</th>
										<th>Paras</th>
										<th align="center">Money Value</th>
									</tr>
								</thead>

							</table>
						</div>
						<div style="clear: both;"></div>
					</div>
					</div>
					</div>
				</div>
			
		
	</div>
</div>
</body>
</html>