<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<style type="text/css">
textarea {
    overflow: auto;
    resize: vertical;
    width: 350px;
}

.zoombox3 {
    position: relative;
    background: #f00;
    height: 28px;
    width: 18px;
    color: #fff;
    padding: 5px;
    top: -35px;
    right: -331px;
    border-radius: 2px;
}
</style>

<script type="text/javascript">
$(function () {
	getAuditNo();
$("#param5").datetimepicker({
	format : 'd-m-Y',
	
	closeOnDateSelect : true,
	timepicker : false,
})
$("#param6").datetimepicker({
	format : 'd-m-Y',
	
	closeOnDateSelect : true,
	timepicker : false,
})
});
function searchData(){
	
	var param1=$("#param1").val();
	var param2=$("#param2").val();
	var param3=$("#param3").val();
	var param4=$("#param4").val();
	var param5=$("#param5").val();
	var param6=$("#param6").val();
	if(param1!='' && param3!=''){	
			
		window.open("/audit/view-initiated-audit-report-aftSerch?param1=" +param1+"&param2="+param2+"&param3="+param3+"&param4="+param4+"&param5="+param5+"&param6="+param6 , '_blank');
		}
	
	else{
		swal("Please select financial year");
		return false;
	}
}
function getAuditNo() {
	var currentVal = $("#param1").val();
	if(currentVal==='ADTM005'){
		$("#quarter").show();
	}
	if (currentVal) {
		$.ajax({
			type : 'POST',
			url : 'view-initiated-audit-document-report',
			contentType : false,
			data : currentVal,
			success : function(response) {
				$("#param2").empty();
				$("#param2").append(
						"<option value>Select</option>");
				for (var i = 0; i < response.body.length; i++) {
					var option = $("<option></option>");
					$(option).val(response.body[i].key);
					$(option).html(response.body[i].key);
					$("#param2").append(option);
				}
			},
			error : function(data) {
				console.log(data)
			}
		});
	} else {
		$("#param2").empty();
		$("#param2").append(
		"<option value>Select</option>");
	}
}

</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
		<div class="col-md-12">
			<ol class="breadcrumb breadcrumb-arrow">
				<li><a href="/index-dashboard">Home</a></li>
				<!-- <li><a href="add-section-master">Audit Trail</a></li> -->
			</ol>
		</div>
		</div>
		<div class="card-title">
			<h4>Audit Documents Detail</h4>
		</div>
		<div class="container-fluid">

			<div class="card">
				
			<div class="row">
							<div class="col-lg-4">
								<label>Audit Type</label> <select  class="form-control"
												id="param1" onchange="getAuditNo();">
												<option value="">Select</option>
												<option th:each="c,iter:${auditTypeList}"
													th:value="${c.key}" th:text="${c.name}"  th:selected="${c.key==auditType}" ></option>
											</select>
							</div>
							<div class="col-lg-4">
								<label>Audit No</label>  <select  class="form-control"
												id="param2">
												<option value="">Select</option>
												<option th:each="c,iter:${auditNoList}"
													th:value="${c.key}" th:text="${c.key}"></option>
											</select>
							</div>
							<div class="col-lg-4">
								<label>Financial Year</label> <select  class="form-control"
												id="param3">
												<option value="">Select</option>
												<option th:each="c,iter:${financialYearList}"
													th:value="${c.key}" th:text="${c.name}"></option>
											</select>
							</div>
							<div class="col-lg-4">
								<label>Department</label> <select  class="form-control"
												id="param4">
												<option value="">Select</option>
												<option th:each="c,iter:${departmentList}"
													th:value="${c.key}" th:text="${c.name}"></option>
											</select>
							</div>
							<div class="col-lg-4">
								<label>From Date</label> <input class="form-control"
									type="text" placeholder="Enter Date" name="" id="param5">
							</div>
							<div class="col-lg-4">
								<label>To Date</label> <input class="form-control"
									type="text" placeholder="Enter Date" name="" id="param6">
							</div>
							<div class="col-md-2 mrt_10">
								<div class="form-group filtersearch">
									<button class="btn btn-info" onclick="searchData()">Search</button>
								</div>
							</div>
						</div>
			</div>
			
		</div>

	
		<!-- Modal End-->
		<!-- /# row -->
	</div>
</div>
</html>