<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>

<script type="text/javascript">
$(document).ready(function() {			
	$('#table').DataTable({
		'processing' : true,
		'serverSide' : true,
		'searching' : false,
		'ordering' : false,
		"ajax" : {
			'url' : 'view-region-through-ajax',
			'data' : function(d) {
				d.param1 = $('#param1').val();
			}
		},
		'dataSrc' : "",
		'columns' : [
		
			{'data' : 'department'},
			{'data' : 'regionName'},
			{'data' : 'description'},
			
			{'data' : 'statusName'},
			{'data' : 'action'}
		]	
	});
});
function searchData() {
	$('#table').DataTable().draw();
}
	
function deleteRegion(id){
	swal.fire({
		title	: "Are you sure want to Delete?",
		text	: "Once Deleted,Can't revert back !",
		type : "warning",
	
		showCancelButton	: true,
		confirmButtonColor	: "#DD6BB5",
		confirmButtonText	:"Delete",
		showLoaderOnConfirm	: true,
		reverseButtons : true,
		preConfirm: () => {
			return new Promise((resolve) => {
				setTimeout(() => {
					console.log("Doing async operation");
					resolve()
				}, 3000)
			})
		}
	}).then((result) => {
		if(result.value){
			$.ajax({
				type	: "GET",
				url : "/audit/view-region-delete?id=" + id,
				dataType	: "json",
				contentType	: "application/json",
				data	: JSON.stringify(id),
				success	: function(response){
					console.log(response);
					if(response.message=="success"){
							
						swal({
							title	: "Data Deleted Successfully.",
							type: "success",
						}).then(function(){
							location.reload(); 
						})
					}else{
						swal({
							title:response.code,
							text: response.message,
							type:"warning"
						})
					}
				},error	: function(data){
					console.log(data)
				}
			}) //ajax ends
		 }
	 })//swal function block ends
}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="/index-dashboard">Home</a></li>
					<li><a th:href="@{/audit/add-region}">Add Region</a></li>
					<!-- <li class="active"><span>Manage Region</span></li> -->
				</ol>
			</div>
			<!-- <div class="col-md-1">
				<div class="form-group card-title">
					<a class="btn btn-secondary" th:href="@{/audit/add-region}">Add
						New Region</a>
				</div>
			</div> -->
			<div class="card-title">
				<h4>Manage Region</h4>
			</div>
			<div class="container-fluid">

				<div class="card">
					<div id="demo">
						<div class="search-field">
							<div class="row">
								<div class="col-md-2">
									<div class="org-name">Region Name</div>
								</div>
								<div class="col-md-3">
									<input id="param1" class="form-control" type="text"
										placeholder="" name="" autocomplete="off"
										onkeyup="searchData();">
								</div>
							</div>
						</div>
					</div>
					<!-- <a data-toggle="collapse" data-target="#demo"
						class="showhideangelbg"><i class="fa fa-angle-double-down"></i>
					</a> -->
					<div class="row">
						<div class="table-responsive" style="width: 100%;">
							<table id="table" class="table table-bordered">
								<thead>
									<tr>
										<th>Department</th>
										<th>Region Name</th>
										<th>Description</th>
										<th>status</th>
										<th align="center">action</th>
									</tr>
								</thead>

							</table>
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

</head>
<body>

</body>
</html>