<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script type="text/javascript">

	$(document).ready(function() {
		$('#tblSection').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-section-master-throughAjax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
				}
			},
			'dataSrc' : "",
			'columns' : [

			{
				'data' : 'sectionName'
			}, {
				'data' : 'department'
			}, {
				'data' : 'status'
			}, {
				'data' : 'action'
			} ]
		});
	});
	function searchData() {
		$('#tblSection').DataTable().draw();
	}
	function viewInModel(index) {

		var sectionName = '';
		//var amenityName 	= '';
		var sectionStatus = '';
		var department = '';
		$("#sectionTble").find('tbody > tr').each(function() {
			$(this).find("td").eq(1).remove();
		})
		$.ajax({
			type : "POST",
			url : "view-section-master-model",
			dataType : 'json',
			contentType : 'application/json',
			data : index,
			success : function(response) {
				if (response.message == "success") {
					console.log(response.body.sectionStatus);

					var sectionStatus = "";
					if (response.body.sectionStatus) {
						sectionStatus = "Active";
					} else {
						sectionStatus = "InActive";
					}
					sectionName = '<td>' + response.body.sectionName + '</td>'
					sectionStatus = '<td>' + sectionStatus + '</td>'
					department = '<td>' + response.body.department
							+ '</td>'

					$(".sectionName").append(sectionName);

					$(".sectionStatus").append(sectionStatus);
					$(".department").append(department);
				}
			},
			error : function(data) {
				console.log(data);
			}
		})

	}

	//Deleting the Service
	
function deleteItem(id){
		swal.fire({
			  title: "Are you sure want to Delete?",
			  text: "Once Deleted,Can't revert back !",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: '#d33',
			  cancelButtonColor: '#e7b63a',
			  confirmButtonText: 'Delete',
			  reverseButtons : true
			  
			}).then((result) => {
				if(result.value){
				 $.ajax({
					    type: "GET",
					   	url : "/master/view-section-master-delete?id=" + id,
					    success: function(response) {
					        if (response.message == "success") {
					        	swal({
					        		title: "Record Deleted Successfully.",
					        		type: "success"
					        	}).then(function(){
					        		 location.reload();
					        	})
					              } else {
					            swal({
					                title: 'Unsuccess',
					                text: response.code
					            })
					        }
					    },
					    error: function(data) {
	   					    }
					})
				}
		});
	}
	

</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">

			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="/index-dashboard">Home</a></li>
					<li><a href="add-section-master">Add Section Master</a></li>
					<li class="active"><span>View Section Master</span></li>
				</ol>
			</div>
		</div>
		
		<div class="card-title">
			<h4>View Service</h4>
		</div>
		<div class="container-fluid">

			<div class="card">
				<div class="search-field">
					<!-- 	<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary" href="add-section-master">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div> -->
					<div class="row">
						<div class="col-lg-2">
							<label>Section Name</label> <input class="form-control"
								type="text" placeholder="" name="" id="param1">
						</div>
						<div class="col-md-2 mrt_10">
							<div class="form-group filtersearch">
								<button class="btn btn-info" onclick="searchData()">Search</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="table-responsive" style="width: 100%;">
						<table id="tblSection" class="table  table-bordered">
							<thead>
								<tr>
									<th>Section Name</th>
									<th>Department</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							</tbody>
						</table>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>

		<!-- Modal Start-->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content" style="width: 750px;">
					<div class="modal-header">
						<h4 class="modal-title">View Details of Section</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table width="100%" border="0" id="sectionTble">
							<tbody>
								<tr class="sectionName">
									<td><b>Section Name :</b></td>
								</tr>
								<tr class="department">
									<td><b>Department :</b></td>
								</tr>
								<tr class="sectionStatus">
									<td><b>Status :</b></td>
								</tr>
							</tbody>
							<tbody id="tModelBody"></tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>

		</div>
		<!-- Modal End-->
		<!-- /# row -->
	</div>
</div>
</html>